<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383685896421-umb558d8ea70stu48106fmqmkq5cg2i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383685896421-umb558d8ea70stu48106fmqmkq5cg2i0</string>
	<key>API_KEY</key>
	<string>AIzaSyAlvwG2Mo9aGz1pVptOMgfJ_bgHK5NHaNY</string>
	<key>GCM_SENDER_ID</key>
	<string>383685896421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pygao.FirebaseComms</string>
	<key>PROJECT_ID</key>
	<string>fir-comms-fdb22</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-comms-fdb22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383685896421:ios:383a981734e44d05130c0c</string>
</dict>
</plist>